html {
  height: 100%;
  font-size: 20px; }

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  color: #fff;
  margin: 0;
  text-shadow: 0px 1px 1px #000;
  background: #111;
  overflow: hidden; }

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700; }

#container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%; }

.scale {
  position: relative;
  top: 250px; }
  .scale div {
    position: absolute;
    width: 100%; }
  .scale hr {
    float: left;
    width: 6px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
  .scale div:nth-child(1) {
    -webkit-transform: rotate(50deg); }
  .scale div:nth-child(2) {
    -webkit-transform: rotate(51deg); }
  .scale div:nth-child(3) {
    -webkit-transform: rotate(52deg); }
  .scale div:nth-child(4) {
    -webkit-transform: rotate(53deg); }
  .scale div:nth-child(5) {
    -webkit-transform: rotate(54deg); }
  .scale div:nth-child(6) {
    -webkit-transform: rotate(55deg); }
  .scale div:nth-child(7) {
    -webkit-transform: rotate(56deg); }
  .scale div:nth-child(8) {
    -webkit-transform: rotate(57deg); }
  .scale div:nth-child(9) {
    -webkit-transform: rotate(58deg); }
  .scale div:nth-child(10) {
    -webkit-transform: rotate(59deg); }
  .scale div:nth-child(11) {
    -webkit-transform: rotate(60deg); }
  .scale div:nth-child(12) {
    -webkit-transform: rotate(61deg); }
  .scale div:nth-child(13) {
    -webkit-transform: rotate(62deg); }
  .scale div:nth-child(14) {
    -webkit-transform: rotate(63deg); }
  .scale div:nth-child(15) {
    -webkit-transform: rotate(64deg); }
  .scale div:nth-child(16) {
    -webkit-transform: rotate(65deg); }
  .scale div:nth-child(17) {
    -webkit-transform: rotate(66deg); }
  .scale div:nth-child(18) {
    -webkit-transform: rotate(67deg); }
  .scale div:nth-child(19) {
    -webkit-transform: rotate(68deg); }
  .scale div:nth-child(20) {
    -webkit-transform: rotate(69deg); }
  .scale div:nth-child(21) {
    -webkit-transform: rotate(70deg); }
  .scale div:nth-child(22) {
    -webkit-transform: rotate(71deg); }
  .scale div:nth-child(23) {
    -webkit-transform: rotate(72deg); }
  .scale div:nth-child(24) {
    -webkit-transform: rotate(73deg); }
  .scale div:nth-child(25) {
    -webkit-transform: rotate(74deg); }
  .scale div:nth-child(26) {
    -webkit-transform: rotate(75deg); }
  .scale div:nth-child(27) {
    -webkit-transform: rotate(76deg); }
  .scale div:nth-child(28) {
    -webkit-transform: rotate(77deg); }
  .scale div:nth-child(29) {
    -webkit-transform: rotate(78deg); }
  .scale div:nth-child(30) {
    -webkit-transform: rotate(79deg); }
  .scale div:nth-child(31) {
    -webkit-transform: rotate(80deg); }
  .scale div:nth-child(32) {
    -webkit-transform: rotate(81deg); }
  .scale div:nth-child(33) {
    -webkit-transform: rotate(82deg); }
  .scale div:nth-child(34) {
    -webkit-transform: rotate(83deg); }
  .scale div:nth-child(35) {
    -webkit-transform: rotate(84deg); }
  .scale div:nth-child(36) {
    -webkit-transform: rotate(85deg); }
  .scale div:nth-child(37) {
    -webkit-transform: rotate(86deg); }
  .scale div:nth-child(38) {
    -webkit-transform: rotate(87deg); }
  .scale div:nth-child(39) {
    -webkit-transform: rotate(88deg); }
  .scale div:nth-child(40) {
    -webkit-transform: rotate(89deg); }
  .scale div:nth-child(41) {
    -webkit-transform: rotate(90deg); }
  .scale div:nth-child(42) {
    -webkit-transform: rotate(91deg); }
  .scale div:nth-child(43) {
    -webkit-transform: rotate(92deg); }
  .scale div:nth-child(44) {
    -webkit-transform: rotate(93deg); }
  .scale div:nth-child(45) {
    -webkit-transform: rotate(94deg); }
  .scale div:nth-child(46) {
    -webkit-transform: rotate(95deg); }
  .scale div:nth-child(47) {
    -webkit-transform: rotate(96deg); }
  .scale div:nth-child(48) {
    -webkit-transform: rotate(97deg); }
  .scale div:nth-child(49) {
    -webkit-transform: rotate(98deg); }
  .scale div:nth-child(50) {
    -webkit-transform: rotate(99deg); }
  .scale div:nth-child(51) {
    -webkit-transform: rotate(100deg); }
  .scale div:nth-child(52) {
    -webkit-transform: rotate(101deg); }
  .scale div:nth-child(53) {
    -webkit-transform: rotate(102deg); }
  .scale div:nth-child(54) {
    -webkit-transform: rotate(103deg); }
  .scale div:nth-child(55) {
    -webkit-transform: rotate(104deg); }
  .scale div:nth-child(56) {
    -webkit-transform: rotate(105deg); }
  .scale div:nth-child(57) {
    -webkit-transform: rotate(106deg); }
  .scale div:nth-child(58) {
    -webkit-transform: rotate(107deg); }
  .scale div:nth-child(59) {
    -webkit-transform: rotate(108deg); }
  .scale div:nth-child(60) {
    -webkit-transform: rotate(109deg); }
  .scale div:nth-child(61) {
    -webkit-transform: rotate(110deg); }
  .scale div:nth-child(62) {
    -webkit-transform: rotate(111deg); }
  .scale div:nth-child(63) {
    -webkit-transform: rotate(112deg); }
  .scale div:nth-child(64) {
    -webkit-transform: rotate(113deg); }
  .scale div:nth-child(65) {
    -webkit-transform: rotate(114deg); }
  .scale div:nth-child(66) {
    -webkit-transform: rotate(115deg); }
  .scale div:nth-child(67) {
    -webkit-transform: rotate(116deg); }
  .scale div:nth-child(68) {
    -webkit-transform: rotate(117deg); }
  .scale div:nth-child(69) {
    -webkit-transform: rotate(118deg); }
  .scale div:nth-child(70) {
    -webkit-transform: rotate(119deg); }
  .scale div:nth-child(71) {
    -webkit-transform: rotate(120deg); }
  .scale div:nth-child(72) {
    -webkit-transform: rotate(121deg); }
  .scale div:nth-child(73) {
    -webkit-transform: rotate(122deg); }
  .scale div:nth-child(74) {
    -webkit-transform: rotate(123deg); }
  .scale div:nth-child(75) {
    -webkit-transform: rotate(124deg); }
  .scale div:nth-child(76) {
    -webkit-transform: rotate(125deg); }
  .scale div:nth-child(77) {
    -webkit-transform: rotate(126deg); }
  .scale div:nth-child(78) {
    -webkit-transform: rotate(127deg); }
  .scale div:nth-child(79) {
    -webkit-transform: rotate(128deg); }
  .scale div:nth-child(80) {
    -webkit-transform: rotate(129deg); }
  .scale div:nth-child(81) {
    -webkit-transform: rotate(130deg); }
  .scale div:nth-child(2n) hr {
    width: 2px;
    margin-left: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .scale div:nth-child(16n+9) hr {
    width: 10px;
    border-bottom: 1px solid white; }
  .scale div:nth-child(41) hr {
    width: 12px;
    border-bottom: 2px solid white; }
  .scale div:nth-child(1), .scale div:nth-child(81) {
    opacity: 0.05; }
  .scale div:nth-child(2), .scale div:nth-child(80) {
    opacity: 0.1; }
  .scale div:nth-child(3), .scale div:nth-child(79) {
    opacity: 0.15; }
  .scale div:nth-child(4), .scale div:nth-child(78) {
    opacity: 0.2; }
  .scale div:nth-child(5), .scale div:nth-child(77) {
    opacity: 0.25; }
  .scale div:nth-child(6), .scale div:nth-child(76) {
    opacity: 0.3; }
  .scale div:nth-child(7), .scale div:nth-child(75) {
    opacity: 0.35; }
  .scale div:nth-child(8), .scale div:nth-child(74) {
    opacity: 0.4; }
  .scale div:nth-child(9), .scale div:nth-child(73) {
    opacity: 0.45; }
  .scale div:nth-child(10), .scale div:nth-child(72) {
    opacity: 0.5; }
  .scale div:nth-child(11), .scale div:nth-child(71) {
    opacity: 0.55; }
  .scale div:nth-child(12), .scale div:nth-child(70) {
    opacity: 0.6; }
  .scale div:nth-child(13), .scale div:nth-child(69) {
    opacity: 0.65; }
  .scale div:nth-child(14), .scale div:nth-child(68) {
    opacity: 0.7; }
  .scale div:nth-child(15), .scale div:nth-child(67) {
    opacity: 0.75; }
  .scale div:nth-child(16), .scale div:nth-child(66) {
    opacity: 0.8; }
  .scale div:nth-child(17), .scale div:nth-child(65) {
    opacity: 0.85; }
  .scale div:nth-child(18), .scale div:nth-child(64) {
    opacity: 0.9; }
  .scale div:nth-child(19), .scale div:nth-child(63) {
    opacity: 0.95; }
  .scale div:nth-child(20), .scale div:nth-child(62) {
    opacity: 1; }

.labels {
  position: relative;
  top: -110px; }
  .labels div {
    position: absolute;
    width: 100%;
    height: 740px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .labels span {
    position: absolute;
    display: block;
    width: 100%;
    height: 740px;
    text-align: center;
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.3); }
  .labels .lower {
    opacity: 0;
    -webkit-transform: rotate(-58deg); }
  .labels .lower span:nth-child(1) {
    -webkit-transform: rotate(16deg); }
  .labels .lower span:nth-child(2) {
    -webkit-transform: rotate(32deg); }
  .labels .lower span:nth-child(3) {
    -webkit-transform: rotate(48deg); }
  .labels .lower span:nth-child(4) {
    -webkit-transform: rotate(64deg); }
  .labels .lower span:nth-child(5) {
    -webkit-transform: rotate(80deg); }
  .labels .current {
    opacity: 1;
    -webkit-transform: rotate(-48deg); }
  .labels .current span:nth-child(1) {
    -webkit-transform: rotate(16deg); }
  .labels .current span:nth-child(2) {
    -webkit-transform: rotate(32deg); }
  .labels .current span:nth-child(3) {
    -webkit-transform: rotate(48deg); }
  .labels .current span:nth-child(4) {
    -webkit-transform: rotate(64deg); }
  .labels .current span:nth-child(5) {
    -webkit-transform: rotate(80deg); }
  .labels .higher {
    opacity: 0;
    -webkit-transform: rotate(-38deg); }
  .labels .higher span:nth-child(1) {
    -webkit-transform: rotate(16deg); }
  .labels .higher span:nth-child(2) {
    -webkit-transform: rotate(32deg); }
  .labels .higher span:nth-child(3) {
    -webkit-transform: rotate(48deg); }
  .labels .higher span:nth-child(4) {
    -webkit-transform: rotate(64deg); }
  .labels .higher span:nth-child(5) {
    -webkit-transform: rotate(80deg); }
  .labels span:nth-child(1), .labels span:nth-child(5) {
    opacity: 0.4; }
  .labels span:nth-child(2), .labels span:nth-child(4) {
    opacity: 0.7; }

.needle {
  position: relative;
  box-sizing: border-box; }
  .needle div {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 2px;
    opacity: 1;
    background: -webkit-gradient(linear, left top, right top, color-stop(3.9%, rgba(255, 255, 255, 0)), color-stop(4%, white), color-stop(15%, rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 3.9%, white 4%, rgba(255, 255, 255, 0) 15%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(90deg); }
    .needle div.inactive {
      opacity: 0.1; }

.frequency {
  position: relative;
  top: -40px; }
  .frequency .value {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .frequency .value.inactive {
      opacity: 0.1; }
  .frequency .hz {
    display: block;
    font-size: 0.6rem;
    font-weight: 700;
    color: #333; }

.volume {
  position: absolute;
  float: right;
  top: -100px;
  right: 130px;
  width: 14px;
  height: 14px;
  border: 3px solid rgba(255, 255, 255, 0.05);
  border-radius: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.notes {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 100; }
  .notes li {
    list-style: none;
    display: inline-block;
    font-size: 0.8rem; }
    .notes li a {
      display: inline-block;
      color: #333;
      line-height: 1rem;
      padding: 0.4rem;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .notes li a span {
        display: inline-block;
        font-size: 0.5rem;
        line-height: 1rem;
        vertical-align: middle;
        position: relative;
        top: -1px; }
      .notes li a.selected, .notes li a:hover {
        color: #ccc; }
    .notes li:after {
      content: '\a0\b7';
      display: inline-block;
      margin: 0 -0.3rem;
      color: rgba(255, 255, 255, 0.1); }
    .notes li:last-child:after {
      content: '\a0\a0'; }
    .notes li.active a {
      color: #ccc; }

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 0.5rem; }
  footer a {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
    footer a:hover {
      color: white; }

.debug {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right; }
  .debug span {
    display: block; }

canvas {
  position: absolute;
  bottom: 0;
  z-index: -1; }
