@mixin gradient($color1, $color2) {
  //background-color: $color2; 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
  //background: -webkit-linear-gradient(top, $color1, $color2); 
  //background: -moz-linear-gradient(top, $color1, $color2);
  //background: -ms-linear-gradient(top, $color1, $color2);
  //background: -o-linear-gradient(top, $color1, $color2); 
}
@mixin transition ($value) {
  //-moz-transition: $value;
  -webkit-transition: $value;
  //-o-transition: $value;
  transition: $value;
}
@mixin transform ($action) {
  //-ms-transform: $action;
  -webkit-transform: $action;
  //-o-transform: $action;
  //-moz-transform: $action;
  //transform: $action;
}

html {
	height: 100%; 
	font-size: 20px;
}
body {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	height: 100%;
	color: #fff;
	margin: 0;
	text-shadow: 0px 1px 1px #000;
	@include gradient(#222, #111);
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

#container {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 50%;
}

.scale {
	position: relative;
	top: 200px;
	
	div {
		position: absolute;
		width: 100%;
	}
		
	hr {
		float: left;
		width: 6px;
		border: 0;
		border-bottom: 1px solid rgba(255,255,255,0.7);
	}

	// Rotate
	@for $i from 1 through 81 {
		div:nth-child(#{$i}) {
			@include transform(rotate(#{$i+48}deg));
		}
	}

	// Minor lines
	div:nth-child(2n) {
		hr {
			width: 2px;
			margin-left: 2px;
			border-bottom: 1px solid rgba(255,255,255,0.3);
		}
	}

	// Major lines
	div:nth-child(16n+9) {
		hr {
			width: 10px;
			border-bottom: 1px solid rgba(255,255,255,1);
		}
	}

	// Middle line
	div:nth-child(41) {
		hr {
			width: 12px;
			border-bottom: 2px solid rgba(255,255,255,1);
		}
	}

	// Opacity
	@for $i from 1 through 20 {
		div:nth-child(#{$i}), div:nth-child(#{82-$i}) {
			opacity: $i/20;
		}
	}
    
}

.labels {
	position: relative;
	top: -160px;
	
	span {
		position: absolute;
		display: block;
		width: 100%;
		height: 740px;
		text-align: center;
		font-size: 0.5rem;
		color: rgba(255,255,255,0.3);
	}

	// Rotate
	@for $i from 1 through 5 {
		span:nth-child(#{$i}) {
			@include transform(rotate(#{-49+$i*16}deg));
		}
	}

	// Opacity
	span:nth-child(1), span:nth-child(5) {
		opacity: 0.4;
	}
	span:nth-child(2), span:nth-child(4) {
		opacity: 0.7;
	}

}

.needle {
	position: relative;
	box-sizing: border-box;
	
	div {
		position: absolute;
		top: 200px;
		width: 100%;
		height: 2px;
		background: -webkit-gradient(linear, left top, right top, color-stop(3.9%, rgba(255,255,255,0)), color-stop(4%, rgba(255,255,255,1)), color-stop(15%, rgba(255,255,255,0)));
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%);
		@include transition(all 0.5s);
		@include transform(rotate(80deg));
	}
}

.frequency {

	.value {
		display: block;
		font-size: 1.1rem;
		font-weight: 700;
	}
	.hz {
		display: block;
		font-size: 0.6rem;
		font-weight: 700;
		color: #333;
	}
}

.notes {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 100;
	
	li {
		list-style: none;
		display: inline-block;
		font-size: 0.8rem;
		
		a {
			display: inline-block;
			color: #333;
			line-height: 1rem;
			padding: 0.4rem;
			@include transition(color 0.3s);
			
			span {
				display: inline-block;
				font-size: 0.5rem;
				line-height: 1rem;
				vertical-align: middle;
				position: relative;
				top: -1px;
			}
			&.selected, &:hover {
				color: #ccc;
			}
		}
		&:after {
			content: '\a0\b7';
			display: inline-block;
			margin: 0 -0.3rem;
			color: rgba(255,255,255,0.1);
		}
			&:last-child:after {
				content: '\a0\a0';
			}
		&.active {
			a {
				color: #ccc;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
	
	a {
		font-weight: 600;
		color: rgba(255,255,255,0.3);
		@include transition(color 0.5s);
		
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
}

.debug {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: right;
	
	span {
		display: block;
	}
}

canvas {
	position: absolute;
	bottom: 0;
	z-index: -1;
}